<div class="container">
  <div class="jumbotron bg-light p-4 p-sm-5 my-4 rounded text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">これはKJ7KTのエンジニアとしての最初の一歩の単純なブログサイトです。右上の検索バーはまだ機能しません。</p>
    <hr class="my-4">
    <p>会員登録すれば誰でも記事を投稿することができます。</p>
    <%= link_to '登録する', signup_path, class: "btn btn-success btn-lg" %>
  </div>
</div><!-- /.container -->

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; kj7kt</small>
  </div>
</footer>