<div class="container">
  <div class="jumbotron bg-light p-4 p-sm-5 my-4 rounded text-center text-white">
    <h1 class="display-4">Alpha Blog</h1>
    <p class="lead">これは単純なヒーローユニット、注目のコンテンツや情報に特別な注意を喚起するためのシンプルなジャンボトロンスタイルのコンポーネントです。</p>
    <hr class="my-4">
    <p>より大きなコンテナの範囲内でコンテンツに空間をあけるため、文字の体裁と空白ユーティリティクラスを使用している。</p>
    <a class="btn btn-success btn-lg" href="#" role="button">登録する</a>
  </div>
</div><!-- /.container -->

<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50 fixed-bottom">
  <div class="container text-center">
    <small>Copyright &copy; kj7kt</small>
  </div>
</footer>